.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    user-select: none;
    background-color: #fff;
    font-family: 'TikTokFont-Semibold';

    +.wrapper {
        margin-left: 8px
    }

    &.diabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: var(--primary);

    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.text {

    &:hover {
        text-decoration: underline;
    }
}

.icon +.title, .title +.icon{
    margin-left: 8px;
}
.icon{
    display: inline-block;
    width: 24px;
}