
.tippy-wrap{
    display: contents;
}

.search-result,
.search {
    width: 361px;
}

.search {
    height: 46px;
    display: flex;
    position: relative;
    align-self: center;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1.5px solid rgba(22, 24, 35, 0);
    border-radius: 92px;

    input {
        flex: 1;
        height: 100%;
        color: #000;
        padding-right: 32px;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 75);
    }

    &::after {
        content: "";
        position: absolute;
        height: 28px;
        width: 1px;
        top: 9px;
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: rgba(22, 24, 35, 0.34);
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-icon{
    animation-name: loading;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}