
.content{
    width: 250px;
}
.menu-scroll{
    overflow-y: overlay;
}


//Menu item
.menu-item{
    margin-left: 0 !important;
    width: 100%;
    text-align: start;
    display: inline-block;
    padding: 6px 16px !important;
    border-radius: 0;
    line-height: 1.8rem;

    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
}

//Header
.back-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.header{
    position: relative;
    height: 50px;
    flex-shrink: 0;
}
.separator{
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding-top: 12px !important;
}